* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* headerのwidth（横幅）は、10％にする
６. headlineのfont-size（文字の大きさ）は、22pxにする
７. nav内の文字を中央寄せ（text-align）にする
８. "list"クラスにはcssでpadding-left: 40px;を適用させる --> */

header {
  width: 10%;
}

header.headline {
  font-size: 22px;
}

nav {
  text-align: center;
}

.list {
  padding-left: 40px;
}
